
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}

<h2>List of Customer Names</h2>
@foreach (var name in ViewBag.namelist)
{
    <ul>
        <li>@name</li>
    </ul>
}
